<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  
  body, html {
    height: 80%;
    line-height: 1.8;
  }
  
.bgimg-1 {
  background-position: center;
  background-size: cover;
  
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-right w3-hide-small{
  margin-left: 3em;
}
</style>
</head>
<body>


  
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/" class="w3-bar-item w3-button w3-wide">
        <img src="/static/image/1.png" alt="Description of the image" width="80" height="60">

      </a>
      <!-- autres éléments de navigation ici -->
    

      
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="ArtyProd/aboutus" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
        <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
        <a href="ArtyProd/contactus"class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/customer/customerclick" Class="w3-bar-item w3-button"><i class="fa fa-user"></i>Conexion Client</a>
        <a href="/adminlogin"   Class="w3-bar-item w3-button"><i class="fa fa-user"></i>Administrateur</a>
  
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  
  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="ArtyProd/aboutus" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
    <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
    <a href="ArtyProd/contactus" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>


</body>

</html>




