{% extends 'ArtyProd/adminbase.html' %}

{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    label #sidebar_btn {
      z-index: 1;
      color: #fff;
      position: fixed;
      cursor: pointer;
      left: 300px;
      padding-left: 60px;
      margin-top: 15px;
      font-size: 20px;

      transition: 0.5s;
      transition-property: color;
    }
  </style>
</head>

<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Liste des services</h6>
    </div>
    <ul class="list-group">
      {% for service in services %}
      <li class="list-group-item">
        <h4>{{ service.nom }}</h4>
        <p>{{ service.description }}</p>
        <p>{{ service.categorie }}</p>
        {% if  service.img %}
        <img src="{{ service.img.url }}" alt="{{ service.nom }} Image" class="img-thumbnail">
        {% endif %}
        <div class="btn-group" role="group" aria-label="Actions">
          <a href="{% url 'update-service' service.pk %}" class="btn btn-primary">Modifier</a>
          <a href="{% url 'delete-service' service.pk %}" class="btn btn-danger">Supprimer</a>
        </div>
      </li>
      {% empty %}
      <li class="list-group-item">Aucun service disponible.</li>
      {% endfor %}
    </ul>
  </div>
  <a href="{% url 'create-service' %}" class="btn btn-success">Ajouter un service</a>
</div>

<br><br><br><br><br><br>
{% endblock content %}
